<section class="benefits">
    <div class="benefits-item">
        <img src="./img/cloud.png" class="benefits-item__logo">
        <h3 class="benefits-item__text">better design</h3>
    </div>
    <div class="benefits-item">
        <img src="./img/list.png" class="benefits-item__logo">
        <h3 class="benefits-item__text">customise</h3>
    </div>
    <div class="benefits-item">
        <img src="./img/tel.png" class="benefits-item__logo">
        <h3 class="benefits-item__text">Its Free</h3>
    </div>
</section>