<section class="devices">
    <h2 class="devices-header">Lorem ipsum dolor sit amet</h2>
    <div class="devices-container">
        <div class="devices-icons">
            <div class="desctop-device">
                <img src="./img/device1.png" alt="">
            </div>
            <div class="tablet-device">
                <img src="./img/device2.png" alt="">
            </div>
            <div class="mobile-device">
                <img src="./img/device3.png" alt="">
            </div>
        </div>
        <div class="devices-list">
            <ul class="device-items">
                <li class="device-item">
                    <p>Sed ut perspiciatis unde omnis</p>
                </li>
                <li class="device-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                </li>
                <li class="device-item">
                    <p>Sed ut perspiciatis unde omnis</p>
                </li>
                <li class="device-item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing </p>
                </li>
            </ul>
        </div>
    </div>
</section>