<header class="header">
    <div class="main-menu">
        <div class="logo">
            <img src="./img/logo.png" alt="">
            <h1 class="logo-title">TheYalow <span class="logo-subtitle">Craft By Css author.com</span></span></h1>
        </div>
        <div class="menu-container">
            <div class="shadow1"></div>
            <div class="shadow2"></div>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li class="menu-item">
                        <img src="./img/user.png">
                        <a href="#" class="menu-item_link">About Us</a>
                    </li>
                    <li class="menu-item">
                        <img src="./img/service.png">
                        <a href="#" class="menu-item_link">Services</a>
                    </li>
                    <li class="menu-item">
                        <img src="./img/mail.png">
                        <a href="#" class="menu-item_link">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- <div class="menu-item">
                <a href="#" class="menu-item_link">
                    <img class="menu-item_logo" src="./img/user.png">
                    About Us
                </a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-item_link">
                    <img class="menu-item_logo" src="./img/service.png">
                    Services
                </a>
            </div>
            <div class="menu-item">
                <a href="#" class="menu-item_link">
                    <img class="menu-item_logo" src="./img/mail.png">
                    Contact
                </a>
            </div> -->
        </div>
    </div>
</header>