<section class="news">
    <h2 class="news-header">Lorem ipsum dolor sit amet</h2>
    <div class="news-container">
        <div class="news-item1">
            <div class="news-item1__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut</div>
            <div class="news-item1__date">
                <div class="date__number">25</div>
                <div class="date__month">APRIL</div>
            </div>
            <div class="news-item1__plus">
                <img src="./img/plus.png" alt="">
            </div>
        </div>
        <div class="news-item2">
            <img src="./img/item2.png" alt="">
        </div>
        <div class="news-item3">
            <div class="news-item3__icon">
                <img src="./img/twitter.png" alt="">
            </div>
            <div class="news-item3__number">22</div>
            <div class="news-item3__plus">
                <img src="./img/plus.png" alt="">
            </div>
        </div>
    </div>
    <div class="mobile-news">
        <div class="mobile-news__icon">
            <img src="./img/twitter.png" alt="">
        </div>
        <div class="mobile-news__messages">
            <div class="message1">
                <img src="./img/message_cloud.png" alt="">
                <p>Daily Mobile UI Design Inspiration #1 
                        via @cssauthor</p>
            </div>
            <div class="message2">
                <img src="./img/message_cloud2.png" alt="">
                <p>Daily Mobile UI Design Inspiration #1 
                        via @cssauthor</p>
            </div>
            <div class="message3">
                <img src="./img/message_cloud3.png" alt="">
                <p>Daily Mobile UI Design Inspiration #1 
                        via @cssauthor</p>
            </div>
            <div class="tweet-message">
                <form action="#">
                    <input class="tweet-input" type="text" name="message_text">
                    <button class="tweet-submit" type="submit" name="submit_message">Tweet</button>
                </form>
            </div>
        </div>
    </div>
    <div class="news-scroll">
        <img src="./img/scroll.png" alt="">
    </div>
</section>