
<section class="slider">
        <div class="slider__prev-arrow">
                <img src="./img/prev_arrow.png" alt="">
              </div>
    <div class="slider-items">
        <div class="slider-item">
            <div class="slider-item__video">
                <img src="./img/video.png" alt="">
            </div>
            <div class="slider-item__text">
                <p class="slider-item__text_yellow">The cool</p>
                <p class="slider-item__text_white">The minimal</p>
            </div>
        </div>
        <div class="slider-item">
            <div class="slider-item__video">
                <img src="./img/video.png" alt="">
            </div>
            <div class="slider-item__text">
                <p class="slider-item__text_yellow">The cool</p>
                <p class="slider-item__text_white">The minimal</p>
            </div>
        </div>
    </div>
    <div class="slider__next-arrow">
            <img src="./img/next_arrow.png" alt="">
          </div>
</section>